body {
    overflow-y: hidden;
}

header {
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.heroImage {
    margin: auto;
    display: block;
}

ul {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 0;
}

.topBox {
    display: flex;
    width: 1000px;
    margin-bottom: 10px;
    margin: 0 auto;
}

.topText {
    background-color: antiquewhite;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.topText:hover {
    background-color: rgb(250, 219, 178);
    border-radius: 15px;
}

.threeSmallCats {
    display: flex;
    overflow: scroll;
    width: 750px;
    margin: 0 auto;
}

.catBox {
    background-color: aliceblue;
    margin: 10px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}

.catBoxText {
    margin: 10px;
}

.bottomText {
    width: 1000px;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    margin: 0px;
}